@font-face {
    font-family: "Monaco";
    src: local('Monaco');
    src: url("75f171bc535016d4d2582e6f88d52796.eot"); /* IE9*/
    url("75f171bc535016d4d2582e6f88d52796.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("75f171bc535016d4d2582e6f88d52796.woff2") format("woff2"), /* chrome、firefox */
    url("75f171bc535016d4d2582e6f88d52796.woff") format("woff"), /* chrome、firefox */
    url("75f171bc535016d4d2582e6f88d52796.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("75f171bc535016d4d2582e6f88d52796.svg#Monaco V1") format("svg"); /* iOS 4.1- */
}