/* CodeMirror Dracula theme */
.cm-s-inner {
    border: 1px solid var(--accent-color) !important;
    border-radius: .25rem;
    /* font-family: 'Hack' !important; */
}

.cm-s-inner.CodeMirror,
.cm-s-inner .CodeMirror-gutters {
    background-color: var(--bg-code-block) !important;
    color: var(--cm-text) !important;
    border: none;
}

.CodeMirror {
    height: 300px;
    height: auto;
}

.CodeMirror-lines {
    padding: 4px 0;
    /* Vertical padding around content */
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid green;
    z-index: 3;
}

.cm-s-inner .CodeMirror-gutters {
    background-color: var(--bg-code-gutter) !important;
    border-right: 1px solid var(--border-code-gutter);
    border-radius: 4px;
    width: 5ch;
    color: var(--cm-gutter-text) !important;
    height: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cm-s-inner .CodeMirror-cursor {
    border-left: solid var(--cm-cursor) !important;
}

.cm-s-inner .CodeMirror-linenumber {
    color: var(--cm-gutter-text);
    font-weight: bold;
    width: 4ch !important;
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
    background: var(--bg-cm-selection);
}

.cm-s-inner span.cm-comment {
    color: var(--cm-comment);
}

.cm-s-inner span.cm-string,
.cm-s-inner span.cm-string-2 {
    color: var(--cm-string);
}

.cm-s-inner span.cm-number {
    color: var(--cm-number);
}

.cm-s-inner span.cm-variable,
.cm-s-inner span.cm-variable-2 {
    color: var(--cm-variable);
}

.cm-s-inner span.cm-def {
    color: var(--cm-def);
}

.cm-s-inner span.cm-operator {
    color: var(--cm-operator);
}

.cm-s-inner span.cm-keyword {
    color: var(--cm-keyword);
}

.cm-s-inner span.cm-atom {
    color: var(--cm-atom);
}

.cm-s-inner span.cm-meta {
    color: var(--cm-meta);
}

.cm-s-inner span.cm-tag {
    color: var(--cm-tag);
}

.cm-s-inner span.cm-attribute {
    color: var(--cm-attribute);
}

.cm-s-inner span.cm-qualifier {
    color: var(--cm-qualifier);
}

.cm-s-inner span.cm-property {
    color: var(--cm-property);
}

.cm-s-inner span.cm-builtin {
    color: var(--cm-builtin);
}

.cm-s-inner span.cm-variable-3,
.cm-s-inner span.cm-type {
    color: var(--cm-type);
}

.md-fences.md-focus .cm-s-inner .CodeMirror-activeline-background {
    background: var(--bg-cm-active-line);
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: var(--cm-matching-bracket) !important;
}

.cm-s-inner .CodeMirror-selected,
.cm-s-inner .CodeMirror-selectedtext {
    background: var(--cm-selection) !important;
    color: inherit;
    text-shadow: none;
}

#write .md-fences {
    /*border: 1px solid var(--border-code-block);*/
    -webkit-font-smoothing: initial;
    margin: 0.8rem 0 !important;
    padding: 0.3rem 0 !important;
    line-height: 1.43rem;
    /*background-color: var(--bg-code-block-light) !important;*/
    border-radius: 2px;
    /* font-family: "Hack"; */
    font-family: var(--my-favorate-fonts), serif;
    font-size: 0.85rem;
    word-wrap: normal;
    position: relative;
    margin-top: 2.8rem !important;
    padding-top: 0 !important;
}

.md-fences::before {
    content: attr(lang);
    position: absolute;
    top: -1.6rem;
    left: 0;
    height: 1.8rem;
    padding: 0.1rem 1rem;
    font-size: 0.7rem;
    color: var(--text-primary);
    background-color: var(--bg-meta-header);
    border-bottom: 1px solid var(--border-table);
    border-radius: 4px 4px 0 0;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
}