#write ol li {
    margin-left: 0.8em;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

ul,
ol
{
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6,
li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6 {
    padding: 7px 7px;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 17px !important;
    background-color: #3c3c3c;
    color: #d4d4d4;
}
