/* 字体 */
@import 'vue-laomst/font-family/font-family.css';
/* 标题样式 */
@import './vue-laomst/headline/headline.css';
/* 引用块 */
@import './vue-laomst/blockquote/blockquote.css';
/* 代码块 */
@import './vue-laomst/code-block/code-block.css';
/* 单行代码 */
@import './vue-laomst/code-line/code-line.css';
/* 列表 */
@import './vue-laomst/ul-ol/ul-ol.css';
/* 表格 */
@import './vue-laomst/table/table.css';
/* 超链接 */
@import './vue-laomst/a/a.css';
/* 脚注 */
@import './vue-laomst/foot-note/foot-note.css';
/* 大纲 */
@import './vue-laomst/outline/outline.css';

:root {
    /*--select-text-bg-color: #5085F7;*/
    --select-text-bg-color: #5590F9;
    --side-bar-bg-color: #fff;
    --control-text-color: rgb(49, 47, 47);
    --my-favorate-fonts: 'Monaco', 'Monaco Nert Font','PingFang SC', 'Microsoft YaHei', monospace;
}

html {
    font-size: 17px;
}

body {
    font-family: var(--my-favorate-fonts), serif;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

.typora-node #write {
    min-height: unset;
}

#write {
    max-width: 80%;
    /*用来把文末顶下去，这样看起来会舒服一些，可以根据个人习惯进行调整*/
    margin: 0 auto 60vh;
    /* padding: 20px 30px 50px; */
    word-spacing: 2px;
    /*词间距*/
    letter-spacing: 2px;
    padding-bottom: unset;
    min-height: unset !important;
    /*字符间距*/
    border-bottom: solid;
}

#write::after {
    content: "文章结尾";
    position: absolute;
    font-size: 12px;
    left: calc(50% - 24px);
    background-color: wheat;
    border-radius: 0 0 7px 7px;
    padding: 0 12px;
    margin-top: 3px;
    height: auto;
    line-height: 20px;
}

#write>p:first-child:empty {
    position: static;
}

#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
}

/* 最后一个提示框渲染成文章引用，要求所有文章格式都固定成这样 */
#write>div:last-of-type.md-alert[mdtype="blockquote"] {
    background-color: #EFF8F3;
    border-top: solid;
    margin-left: -30px;
    margin-right: -30px;
    border-left: unset;
    margin-bottom: unset;
    padding-bottom: 1rem;
}

#write>div:last-of-type.md-alert[mdtype="blockquote"] .md-alert-text-container::after {
    content: "references";
}

#write>div:last-of-type.md-alert[mdtype="blockquote"]::before {
    content: "文章引用";
    position: absolute;
    font-size: 12px;
    left: calc(50% - 24px);
    background-color: wheat;
    border-radius: 0 0 7px 7px;
    padding: 0 12px;
    margin-top: unset;
    height: auto;
    line-height: 20px;
}

#write>div:last-of-type.md-alert[mdtype="blockquote"]>:last-child {
    margin-bottom: unset !important;
}

/* mermaid预览框位置调整 */
pre.md-fences-advanced.md-focus .md-fences-adv-panel{
    position: unset;
}

@media print {
    html {
        font-size: 13px;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}