/* 表格样式 - 暗黑模式 */

table {
    padding: 0;
    margin: 0.8em 0;
    word-break: initial;
}

table tr {
    border-top: 1px solid #3c3c3c;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #252525;
}

#write table thead th {
    background-color: #2d2d2d;
}

table tr th {
    font-weight: bold;
    border: 1px solid #3c3c3c;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    color: #d4d4d4;
}

table tr td {
    border: 1px solid #3c3c3c;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    color: #d4d4d4;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}
