#write ol li {
    margin-left: 0.8em;
}

#write > ul:first-child,
#write > ol:first-child {
    margin-top: 30px;
}

ul,
ol
{
    margin: 0.8em 0;
}

li > ol,
li > ul {
    margin: 0 0;
}

li p.first {
    display: inline-block;
}

ul,
ol {
    padding-left: 30px;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6,
li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6 {
    padding: 7px 7px;
    font-size: 20px;
    border-radius: 3px;
    /* 选择器的优先级不够，只能加 !important */
    margin-top: 17px !important;
    background-color: var(--bg-list-header);
    color: var(--text-list-header);
}

/*blockquote ul h1,
blockquote ul h2,
blockquote ul h3,
blockquote ul h4,
blockquote ul h5,
blockquote ul h6,
blockquote ol h1,
blockquote ol h2,
blockquote ol h3,
blockquote ol h4,
blockquote ol h5,
blockquote ol h6 {

    padding: 7px 7px;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 17px !important;
    background-color: blanchedalmond;

    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
    background-color: none;
    border-left: none;
    border-radius: 0px;
    text-shadow: none;
    box-shadow: inherit;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 2px solid #42b983;
}*/